<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<!-- footer -->
<body>
<footer>
<!-- footer -->
		<div class="footer">
			<div class="footer-grids">
				<div class="footer-top">
					<div class="footer-top-nav">
						<ul>
							<li><a href="about.html">About</a></li>
							<li><a href="copyright.html">Copyright</a></li>
							<li><a href="creators.html">Creators</a></li>
							<li><a href="developers.html">Developers</a></li>
						</ul>
					</div>
					<!--  <div class="footer-bottom-nav"></div> -->
				</div>
				<!--  <div class="footer-bottom"></div> -->
			</div>
		</div>
		<!-- //footer -->
</footer>
</body>
</html>