@CHARSET "UTF-8";

div .admin-formulaire
{
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

div .admin-table-droite
{
	display: inline-block;
	width: 59%;
	vertical-align: top;
}

table
{
	valign: middle;
}

.slider-time
{
	right: 5%;
}


.small-clck {
	right: 0%;
	top: 90%;
}

.form-control
{
	width: 30%;
	text-align: center;
}