<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminimport :: headImport">
<meta charset="UTF-8" />
<title id="titrePage">Great Movies - By AC - Admin - Créer un
	acteur</title>
</head>
<body>
	<div th:replace="adminnavigateur :: header">&nbsp;</div>
	<div class="left-content">
		<div class="inner-content">
			<div class="outter-wp">
				<div>
					<h1>Créer un acteur</h1>
					<div class="admin-formulaire">
						<form action="#" th:action="@{/acteurcreer}" th:object="${acteur}"
							method="post">
							<table>
								<tr>
									<td>Nom :</td>
									<td><input type="text" th:field="*{nom}" /></td>
									<td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Name
										Error</td>
								</tr>
								<tr>
									<td>Prénom :</td>
									<td><input type="text" th:field="*{prenom}" /></td>
								</tr>
								<tr>
									<td><button type="submit" class="btn btn-primary">Créer l'acteur</button></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="admin-table-droite">
					<div th:replace="admintableacteur :: tableacteur">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>