<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminimport :: headImport">
	<meta charset="UTF-8"/>
	<title id="titrePage">Great Movies - By AC - Admin - Liste des acteurs</title>
</head>
<body>

<div th:replace="adminnavigateur :: header">&nbsp;</div>
<div class="left-content">
<div class="inner-content">
<div class="outter-wp">
	<a class="btn btn-primary btn-lg" th:href="@{/acteurcreer}">Créer un acteur</a>
	<div th:if="${#lists.isEmpty(acteurs)}">
		Il n'existe pas d'acteur dans la base.
	</div>
	
	<div th:replace="admintableacteur :: tableacteur">&nbsp;</div>
	
	 <!-- <table class="table table-bordered text-center">
		<thead>
			<tr>
				<th>Id Acteur</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Films</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="acteur : ${acteurs}">
				<td th:text="${acteur.id}" />
				<td th:text="${acteur.nom}" />
				<td th:text="${acteur.prenom}"/>
				<td> <span th:each=" film : ${acteur.films}"> <span th:text="${film.titre}"></span> <br /></span></td>
				<td>
					<a class="btn-sm btn-primary" th:href="@{/acteurmodifier/{id}(id=${acteur.id})}">Editer</a>
					<a class="btn-sm btn-info" th:href="@{/acteursupprimer/{id}(id=${acteur.id})}">Supprimer</a>
				</td>
			</tr>
		</tbody>
	</table>-->
	</div></div></div>
</body>
</html>