<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Liste des acteurs</title>
<link th:href="@{/adminnavigateur.html}"/>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="admin/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="admin/css/font-awesome.css" rel="stylesheet"/> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<!-- lined-icons -->
<link rel="stylesheet" href="admin/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="admin/js/jquery-1.10.2.min.js"></script>
<script src="admin/js/amcharts.js"></script>	
<script src="admin/js/serial.js"></script>	
<script src="admin/js/light.js"></script>	
<script src="admin/js/radar.js"></script>	
<link href="admin/css/barChart.css" rel='stylesheet' type='text/css' />
<link href="admin/css/fabochart.css" rel='stylesheet' type='text/css' />
<!--clock init-->
<script src="admin/js/css3clock.js"></script>
<!--Easy Pie Chart-->
<!--skycons-icons-->
<script src="admin/js/skycons.js"></script>

<script src="admin/js/jquery.easydropdown.js"></script>

<!--//skycons-icons-->

</head>
<body>

<div th:replace="adminnavigateur :: header">&nbsp;</div>
<div class="left-content">
<div class="inner-content">
<div class="outter-wp">
	<a th:href="@{/acteurcreer}">Créer un acteur</a>
	
	<div th:if="${#lists.isEmpty(acteurs)}">
		Il n'existe pas d'acteur dans la base.
	</div>
	<!-- >
	<ul>
		<li th:each="acteur : ${acteurs}"><span th:text="${acteur.id}"></span>
			- <span th:text="${acteur.nom}"></span> <span th:text="${acteur.prenom}"></span>
			
			 - <span th:each=" film : ${acteur.films}" >	
				<span th:text="${film.titre}"></span> - 
			</span>
			
			<a th:href="@{/acteurmodifier/{id}(id=${acteur.id})}">Editer</a> |
			<a th:href="@{/acteursupprimer/{id}(id=${acteur.id})}">Supprimer</a>
			</li>

	</ul>
	 -->
	 <table>
		<thead>
			<tr>
				<th>Id Acteur</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Films</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="acteur : ${acteurs}">
				<td th:text="${acteur.id}" />
				<td th:text="${acteur.nom}" />
				<td th:text="${acteur.prenom}"/>
				<td> <span th:each=" film : ${acteur.films}"> <span th:text="${film.titre}"></span> <br /></span></td>
				<td>
					<a th:href="@{/acteurmodifier/{id}(id=${acteur.id})}">Editer</a> <br/>
					<a th:href="@{/acteursupprimer/{id}(id=${acteur.id})}">Supprimer</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/}">Retour à l'index</a>
	</div></div></div>
</body>
</html>