<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
<table class="table table-bordered text-center"  th:fragment="tablefilm">
		<thead>
			<tr>
				<th>Id Film</th>
				<th>Titre</th>
				<!--  <th>Synopsis</th>
				<th>Durée</th> -->
				<th>Jaquette</th>
				<th>Sortie</th>
				<!-- <th>Vidéo</th> -->
				<th>Version</th>
				<th>Catégories</th>
				<th>Acteurs</th>
				<th>Réalisateur</th>
				<th>Pays</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="film : ${films}">
				<td th:text="${film.id}" />
				<td th:text="${film.titre }" />
				<!-- <td th:text="${film.synopsis}" />
				<td th:text="${film.duree}" /> -->
				<!-- <td th:text="${film.jaquette}" /> -->
		 		<td> <img th:src= "@{/files/{jaquette}(jaquette=${film.jaquette})}" height="42" width="42"/> </td>
				<td th:text="${film.sortie}" />
				<!-- <td th:text="${film.video}" />-->
				<td th:text="${film.version}" />
				<td> <span th:each=" categorie : ${film.categories}"> <span th:text="${categorie.intitule}"></span> </span></td>
				<td> <span th:each=" acteur : ${film.acteurs}"> <span th:text="${acteur.prenom}"></span> <span th:text="${acteur.nom}"> </span> <br /></span></td>
				<td th:each=" real : ${film.realisateur}"> <span th:text="${real.prenom}"></span> <span th:text="${real.nom}"> </span> </td>
				<td th:each=" pay : ${film.pays}"> <span th:text="${pay.nom}"></span> </td> 
			</tr>
		</tbody>
	</table>
</body>
</html>