<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
<table class="table table-bordered text-center"  th:fragment="tablecategorie">
		<thead>
			<tr>
				<th>Id Catégorie</th>
				<th>Intitulé</th>
				<th>Films</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="categorie : ${categories}">
				<td th:text="${categorie.id}" />
				<td th:text="${categorie.intitule}" />
				<td> <span th:each=" film : ${categorie.films}"> <span th:text="${film.titre}"></span> <br /></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>