<!DOCTYPE html>
<html>
<head th:fragment="headImport">
<title th:include=":: #titrePage">Titre de la page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Bootstrap Core CSS -->
	<link href="/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="/admin/css/style.css" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="/admin/css/font-awesome.css" rel="stylesheet"/> 
	<!-- jQuery -->
	<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
	<!-- lined-icons -->
	<link rel="stylesheet" href="admin/css/icon-font.min.css" type='text/css' />
	<!-- //lined-icons -->
	<script src="/admin/js/jquery-1.10.2.min.js"></script>
	<script src="/admin/js/amcharts.js"></script>	
	<script src="/admin/js/serial.js"></script>	
	<script src="/admin/js/light.js"></script>	
	<script src="/admin/js/radar.js"></script>	
	<link href="/admin/css/barChart.css" rel='stylesheet' type='text/css' />
	<link href="/admin/css/fabochart.css" rel='stylesheet' type='text/css' />
	<!--clock init-->
	<script src="/admin/js/css3clock.js"></script>
	<!--Easy Pie Chart-->
	<!--skycons-icons-->
	<script src="/admin/js/skycons.js"></script>

	<script src="/admin/js/jquery.easydropdown.js"></script>

	<!--//skycons-icons-->
	
	<!--<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/images/favicon.png" type="image/png" />-->
</head>
</html>