
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Great Movies - By AC - Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 






</script>
<!-- Bootstrap Core CSS -->
<link href="admin/css/bootstrap.min.css" rel='stylesheet'
	type='text/css' />
<!-- Custom CSS -->
<link href="admin/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="admin/css/font-awesome.css" rel="stylesheet" />
<!-- jQuery -->
<link
	href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400'
	rel='stylesheet' type='text/css' />
<!-- lined-icons -->
<link rel="stylesheet" href="admin/css/icon-font.min.css"
	type='text/css' />
<!-- //lined-icons -->
<script src="admin/js/jquery-1.10.2.min.js"></script>
<script src="admin/js/amcharts.js"></script>
<script src="admin/js/serial.js"></script>
<script src="admin/js/light.js"></script>
<script src="admin/js/radar.js"></script>
<link href="admin/css/barChart.css" rel='stylesheet' type='text/css' />
<link href="admin/css/fabochart.css" rel='stylesheet' type='text/css' />
<!--clock init-->
<script src="admin/js/css3clock.js"></script>
<!--Easy Pie Chart-->
<!--skycons-icons-->
<script src="admin/js/skycons.js"></script>

<script src="admin/js/jquery.easydropdown.js"></script>

<!--//skycons-icons-->
</head>
<body>
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
				<!--/header + sidebar-menu-->
		<div th:replace="adminnavigateur :: header">&nbsp;</div>
				<div class="outter-wp">
					<!--custom-widgets-->
					<div class="custom-widgets">
						<div class="row-one">
							<div class="col-md-3 widget">
								<div class="stats-left ">
									<h5>Nombre</h5>
									<h4>Utilisateurs</h4>
								</div>
								<div class="stats-right">
									<label th:text="${nbUtilisateur}"></label>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-md-3 widget states-mdl">
								<div class="stats-left">
									<h5>Nombre</h5>
									<h4>Films</h4>
								</div>
								<div class="stats-right">
									<label th:text="${nbFilm}"></label>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-md-3 widget states-thrd">
								<div class="stats-left">
									<h5>Nombre</h5>
									<h4>Catégories</h4>
								</div>
								<div class="stats-right">
									<label th:text="${nbCategorie}"></label>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-md-3 widget states-last">
								<div class="stats-left">
									<h5>Nombre</h5>
									<h4>Avis</h4>
								</div>
								<div class="stats-right">
									<label th:text="${nbAvis}"></label>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>


					<!--//custom-widgets-->
					<!--/candile tableau-->
					<div class="candile">
						<div class="candile-inner">
							<h3 class="sub-tittle">Nombre de films dans chaque catégorie
							</h3>
							<div id="center">
								<div id="fig">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Catégories</th>
												<th>Nombre de films</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="categorie : ${categories}">
												<td th:text="${categorie.intitule}"></td>
												<td th:text="${categorie.nb}"></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

						</div>

					</div>
					<!--/candile-->

					<!--/charts-->

					<!--//outer-wp-->
				</div>
				<!--footer section start-->
				<div th:replace="adminfooter :: footer">&nbsp;</div>
				<!--footer section end-->
			</div>
		</div>
		<!--//content-inner-->
		
		
		<div class="clearfix"></div>
	</div>

	<!--js -->
	<link rel="stylesheet" href="admin/css/vroom.css" />
	<script type="text/javascript" src="admin/js/vroom.js"></script>
	<script type="text/javascript" src="admin/js/TweenLite.min.js"></script>
	<script type="text/javascript" src="admin/js/CSSPlugin.min.js"></script>
	<script src="admin/js/jquery.nicescroll.js"></script>
	<script src="admin/js/scripts.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="admin/js/bootstrap.min.js"></script>
</body>
</html>