<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
<table class="table table-bordered text-center"  th:fragment="tablerealisateur">
		<thead>
			<tr>
				<th>Id Réalisateur</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Films</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="realisateur : ${realisateurs}">
				<td th:text="${realisateur.id}" />
				<td th:text="${realisateur.nom}" />
				<td th:text="${realisateur.prenom}"/>
				<td> <span th:each=" film : ${realisateur.films}"> <span th:text="${film.titre}"></span> <br /></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>