<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
<table class="table table-bordered text-center"  th:fragment="tablepays">
		<thead>
			<tr>
				<th>Id Pays</th>
				<th>Pays</th>
				<th>Films</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pays : ${payss}">
				<td th:text="${pays.id}" />
				<td th:text="${pays.nom}" />
				<td> <span th:each=" film : ${pays.films}"> <span th:text="${film.titre}"></span> <br /></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>