     
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8"/>
</head> 
<body>
   <div class="page-container" th:fragment="header">
   				<!-- header-starts -->
   				<div class="header-section">
					<!--menu-right-->
					<div class="top_menu">


						<!--/profile_details-->
						<div class="profile_details_left">

								<h4>Administration GM - By AC</h4>

						</div>
						<div class="clearfix"></div>
						<!--//profile_details-->
					</div>
					<!--//menu-right-->
					<div class="clearfix"></div>
				</div>
				
			<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo">
					<!-- <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>--> <a href="index.html"> <span id="logo"> <h1>Administration</h1></span> 
					<!--<img id="logo" src="" alt="Logo"/>--> 
				  </a> 
				</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
			<!--/down-->
							<div class="down">	
									<a href="adminindex.html"><img src="/admin/images/admin.jpg"/></a>
									<!-- <a href="index.html"><span class=" name-caret">Jasmin Leo</span></a>-->
									<div th:if="${session.id != null}">
										<span class=" name-caret" th:txt="${session.nomprenom}"></span>
									</div>
									<p>Administrateur GM - By AC</p>
									<ul>
										<!-- <li><a class="tooltips" href="index.html"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
										<li><a class="tooltips" href="index.html"><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
										<li><a class="tooltips" href="index.html"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>-->
										<li><a class="tooltips" th:href="@{/}"><span>Accueil</span><i class="lnr lnr-home"></i></a></li>
										<li th:if="${session.id != null}"><a class="tooltips" th:href="@{/deconnexion}"><span>Déconnexion</span><i class="lnr lnr-power-switch"></i></a></li>
									</ul>
							</div>
							<!--//down-->
                           <div class="menu">
									<ul id="menu" >
										<li><a th:href="@{/adminindex}"><i class="fa fa-tachometer"></i><span>Accueil admin</span></a></li>
										<li><a th:href="@{/acteur}"><i class="fa fa-user"></i><span>Acteur</span><span class="fa fa-angle-right" style="float: right"></span></a>
											<ul>
												<li><a th:href="@{/acteur}"><span>Visualisation</span></a></li>
												<li><a th:href="@{/acteurcreer}"><span>Création</span></a></li>
											</ul>
										</li>
										<li><a th:href="@{/avis}"><i class="lnr lnr-pencil"></i><span>Avis</span></a>
											<!-- <ul>
												<li><a th:href="@{/avis}"><span>Visualisation</span></a></li>
												<li><a th:href="@{/aviscreer}"><span>Création</span></a></li>
											</ul>-->
										</li>
										<li><a th:href="@{/categorie}"><i class="fa fa-tags"></i><span>Catégorie</span><span class="fa fa-angle-right" style="float: right"></span></a>
											<ul>
												<li><a th:href="@{/categorie}"><span>Visualisation</span></a></li>
												<li><a th:href="@{/categoriecreer}"><span>Création</span></a></li>
											</ul>
										</li>
										<li><a th:href="@{/film}"><i class="fa fa-film"></i><span>Films</span><span class="fa fa-angle-right" style="float: right"></span></a>
											<ul>
												<li><a th:href="@{/film}"><span>Visualisation</span></a></li>
												<li><a th:href="@{/filmcreer}"><span>Création</span></a></li>
											</ul>
										</li>
										<li><a th:href="@{/pays}"><i class="fa fa-flag-o"></i><span>Pays</span><span class="fa fa-angle-right" style="float: right"></span></a>
											<ul>
												<li><a th:href="@{/pays}"><span>Visualisation</span></a></li>
												<li><a th:href="@{/payscreer}"><span>Création</span></a></li>
											</ul>
										</li>
										<li><a th:href="@{/realisateur}"><i class="fa fa-user"></i><span>Réalisateur</span><span class="fa fa-angle-right" style="float: right"></span></a>
											<ul>
												<li><a th:href="@{/realisateur}"><span>Visualisation</span></a></li>
												<li><a th:href="@{/realisateurcreer}"><span>Création</span></a></li>
											</ul>
										</li>
										<li><a th:href="@{/utilisateur}"><i class="fa fa-users"></i><span>Utilisateur</span></a>
											<!-- <ul>
												<li><a th:href="@{/utilisateur}"><span>Visualisation</span></a></li>
												<li><a th:href="@{/utilisateurcreer}"><span>Création</span></a></li>
											</ul>-->
										</li>
								  </ul>
								</div>
							  </div>
							  
							  <div class="clearfix"></div>		
							</div>
							<script>
							var toggle = true;
										
							$(".sidebar-icon").click(function() {                
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }
											
											toggle = !toggle;
										});
							</script>
							
<!--js -->
<link rel="stylesheet" href="admin/css/vroom.css"/>
<script type="text/javascript" src="admin/js/vroom.js"></script>
<script type="text/javascript" src="admin/js/TweenLite.min.js"></script>
<script type="text/javascript" src="admin/js/CSSPlugin.min.js"></script>
<script src="admin/js/jquery.nicescroll.js"></script>
<script src="admin/js/scripts.js"></script>

<!-- Bootstrap Core JavaScript -->
   <script src="admin/js/bootstrap.min.js"></script>
</body>
</html>