<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminimport :: headImport">
<meta charset="UTF-8" />
<title id="titrePage">Great Movies - By AC - Admin - Créer un avis</title>
</head>
<body>
	<h1>Créer un avis</h1>
	<form action="#" th:action="@{/aviscreer}" th:object="${avis}" method="post">
		<table>
			<tr>
				<td>Note :</td>
				<td><input type="text" th:field="*{note}" /></td>
				<td th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Note
					Error</td>
			</tr>
			<tr>
				<td>Commentaire :</td>
				<td><input type="text" th:field="*{commentaire}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Créer l'avis</button></td>
			</tr>
		</table>
	</form>

</body>
</html>