<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminimport :: headImport">
<meta charset="UTF-8" />
<title id="titrePage">Great Movies - By AC - Admin - Modifier
	une catégorie</title>
</head>
<body>
	<div th:replace="adminnavigateur :: header">&nbsp;</div>
	<div class="left-content">
		<div class="inner-content">
			<div class="outter-wp">
				<h1>Modifier une catégorie</h1>
				<form action="#" th:action="@{/categoriemodifier}"
					th:object="${categorie}" method="post">
					<input type="hidden" th:field="*{id}" />
					<table>
						<tr>
							<td>Intitulé :</td>
							<td><input type="text" th:field="*{intitule}" /></td>
							<td th:if="${#fields.hasErrors('intitule')}"
								th:errors="*{intitule}">Intitule Error</td>
						</tr>

						<tr>
							<td><button type="submit">Valider la catégorie</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>