<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head">
	<title>Informations - By AC</title>
	<meta charset="UTF-8" />
</head>


<body>

	<nav th:replace="nav :: nav">&nbsp;</nav>
	<div th:replace="sidebar :: sidebar">&nbsp;</div>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:fragment="info">
		<div class="main-grids">
	<h1>Informations</h1>
	<div>
		<img th:src="@{/files/{jaquette}(jaquette=${film.jaquette})}" height="300" />
		<h1 th:text="${film.titre}"></h1>
		<p class="tsmall" th:text="${film.synopsis}"></p> <br/>
		<p class="tsmall">
			<!-- Mettre un lien : recherche par réalisateur -->
			<span th:each=" categorie : ${film.categories}"> 
				<span th:text="${categorie.intitule}"></span>
			</span> 
			<span> | </span>
			<!-- Mettre un lien : recherche par pays -->
			<span th:each=" pay : ${film.pays}"> 
				<span th:text="${pay.nom}"></span>
			</span>
			<span> | </span>
			<span th:text="${film.sortie}"></span> <span> | </span>
			
			<span th:text="${film.version}"></span> <span> | </span>
			
			<span th:text="${film.duree}"></span> <br/>
			
			<span><strong>Note </strong></span>
			<span th:if="${film.note != -1}"><span th:text="${film.note}"/>/5</span>
			<span th:if="${film.note == -1}">Non définie</span>
			<br/>
			
			<span><strong>De </strong></span>
			<!-- Mettre un lien : recherche par réalisateur -->
			<span th:each=" real : ${film.realisateur}">
				<span th:text="${real.prenom}"></span> <span th:text="${real.nom}"></span> <br/>
				</span>
			<span><strong>Avec </strong></span> <br/>
			<!-- Mettre un lien : recherche par acteur -->
				<span th:each=" acteur : ${film.acteurs}"> 
				<span th:text="${acteur.prenom}"></span> <span th:text="${acteur.nom}"> </span> <br/>
				</span>
			</p>
			
			<br/>
			
			<div class="signin">
				<a th:href="@{/filmvisionner/{id}(id=${film.id})}">Visionner le film</a>
			</div>
			
			<br/>
			<br/>
			
			<div  th:if="${session.id != null}">
			<hr class="coms"/>
			<h2>Donnez votre avis</h2>
			<form action="#" th:action="@{/filminfo}" th:object="${avis}" method="post">
				<input type="hidden" th:field="*{film}" class="form-control"/>
				<input type="hidden" th:field="*{utilisateur}" class="form-control"/>
				<div class="form-group">
					<label>Note :</label>
					<input type="text" th:field="*{note}" class="form-control" />
				</div>
				<div class="form-group">
					<label>Commentaire :</label>
					<textarea rows="6" cols="35" th:field="*{commentaire}" class="form-control" />
				</div>
				<button class="btn btn-primary" type="submit">Valider</button>
			</form>
			</div>
			
			<div th:if="${!#lists.isEmpty(film.avis)}">
				<hr class="coms"/>
				<h2>Avis</h2>
				<div th:class="tsmall" th:each=" avi : ${film.avis}">
					<hr/>
					<span>Utilisateur : </span>
					<span th:text="${avi.utilisateur.login}"></span>
					<br/>
					<span>Note : </span>
					<span th:text="${avi.note}"></span>
					<br/>
					<span>Commentaire : </span>
					<span th:text="${avi.commentaire}"></span>
				</div>
			</div>
			
	</div>
	</div>
	</div>
	




	<!--  <div class="clearfix"></div> -->
	<!--  <div class="drop-menu"></div> -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>
</html>