<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Liste des films</title>
</head>
<body>
	<a th:href="@{/filmcreer}">Créer un film</a>
	
	<div th:if="${#lists.isEmpty(films)}">
		Il n'existe aucun film dans la base.
	</div>
	<!--  
	<ul>
		<li th:each="film : ${films}">
			<span th:text="${film.id}"></span> - 
			<span th:text="${film.titre}"></span> -  
			<span th:text="${film.synopsis}"></span> - 
			<span th:text="${film.duree}"></span> - 
			<span th:text="${film.jaquette}"></span> - 
			<span th:text="${film.sortie}"></span> - 
			<span th:text="${film.video}"></span> - 
			<span th:text="${film.version}"></span> - 
			
			<span th:each=" categorie : ${film.categories}" >	
				<span th:text="${categorie.intitule}"></span></span> - 
				
			<span th:each=" acteur : ${film.acteurs}" >	
				<span th:text="${acteur.prenom}"></span> <span th:text="${acteur.nom}"> </span>
			</span> - 
			
			<span th:each=" real : ${film.realisateur}" >
				<span th:text="${real.prenom}"></span> <span th:text="${real.nom}"> </span>
			</span>	- 
					
			<span th:each=" pay : ${film.pays}" >
				<span th:text="${pay.nom}"></span>
			</span>	- 
			
			<a th:href="@{/filmmodifier/{id}(id=${film.id})}">Editer</a> |
			<a th:href="@{/filmsupprimer/{id}(id=${film.id})}">Supprimer</a>
			</li>

	</ul>
	-->
	
	<table>
		<thead>
			<tr>
				<th>Id Film</th>
				<th>Titre</th>
				<th>Synopsis</th>
				<th>Durée</th>
				<th>Jaquette</th>
				<th>Sortie</th>
				<th>Vidéo</th>
				<th>Version</th>
				<th>Catégorie</th>
				<th>Acteurs</th>
				<th>Réalisateur</th>
				<th>Pays</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="film : ${films}">
				<td th:text="${film.id}" />
				<td th:text="${film.titre }" />
				<td th:text="${film.synopsis}" />
				<td th:text="${film.duree}" />
				<!-- <td th:text="${film.jaquette}" /> -->
				<td> <img th:src= "@{/files/{jaquette}(jaquette=${film.jaquette})}" height="42" width="42"/> </td>
				<td th:text="${film.sortie}" />
				<td th:text="${film.video}" />
				<td th:text="${film.version}" />
				<td> <span th:each=" categorie : ${film.categories}"> <span th:text="${categorie.intitule}"></span> </span></td>
				<td> <span th:each=" acteur : ${film.acteurs}"> <span th:text="${acteur.prenom}"></span> <span th:text="${acteur.nom}"> </span> <br /></span></td>
				<td th:each=" real : ${film.realisateur}"> <span th:text="${real.prenom}"></span> <span th:text="${real.nom}"> </span> </td>
				<td th:each=" pay : ${film.pays}"> <span th:text="${pay.nom}"></span> </td> 
				<td>
					<a th:href="@{/filmmodifier/{id}(id=${film.id})}">Editer</a> <br/> 
					<a th:href="@{/filmsupprimer/{id}(id=${film.id})}">Supprimer</a>
					<a th:href="@{/filmvisionner/{id}(id=${film.id})}">Voir</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<a th:href="@{/}">Retour à l'index</a>
</body>
</html>