<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
	<title>Voir un film - By AC</title>
	<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="nav :: nav">&nbsp;</nav>
	<div th:replace="sidebar :: sidebar">&nbsp;</div>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:fragment="info">
		<div class="main-grids">
			<video th:object="${film}" width="690" controls="controls" th:poster="@{/files/{jaquette}(jaquette=${film.jaquette})}">
			
			  <source th:src="@{/files/{video}(video=${film.video})}" type="video/mp4"/>
			</video>
		</div>
	</div>
</body>
</html>