<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Accueil</title>
</head>
<body>
	<h1>Bonjour !</h1>

	<ul>
		<li><a th:href="@{/acteur}">Acteur</a></li>
		<li><a th:href="@{/avis}">Avis</a></li>
		<li><a th:href="@{/categorie}">Catégorie</a></li>
		<li><a th:href="@{/film}">Films</a></li>
		<li><a th:href="@{/pays}">Pays</a></li>
		<li><a th:href="@{/realisateur}">Réalisateur</a></li>
		<li><a th:href="@{/utilisateur}">Utilisateur</a></li>
	</ul>
</body>
</html>