<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminimport :: headImport">
<meta charset="UTF-8" />
<title id="titrePage">Great Movies - By AC - Admin - Liste des
	pays</title>
</head>
<body>
	<div th:replace="adminnavigateur :: header">&nbsp;</div>
	<div class="left-content">
		<div class="inner-content">
			<div class="outter-wp">
				<a class="btn btn-primary btn-lg" th:href="@{/payscreer}">Créer
					un pays</a>

				<div th:if="${#lists.isEmpty(payss)}">Il n'existe pas de pays
					dans la base.</div>

				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th>Id Pays</th>
							<th>Pays</th>
							<th>Films</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pays : ${payss}">
							<td th:text="${pays.id}" />
							<td th:text="${pays.nom}" />
							<td><span th:each=" film : ${pays.films}"> <span
									th:text="${film.titre}"></span> <br /></span></td>
							<td><a class="btn-sm btn-primary"
								th:href="@{/paysmodifier/{id}(id=${pays.id})}">Editer</a> <br />
								<a class="btn-sm btn-info"
								th:href="@{/payssupprimer/{id}(id=${pays.id})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>