<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Liste des pays</title>
</head>
<body>
	<a th:href="@{/payscreer}">Créer un pays</a>
	
	<div th:if="${#lists.isEmpty(payss)}">
		Il n'existe pas de pays dans la base.
	</div>
	<ul>
		<li th:each="pays : ${payss}"><span th:text="${pays.id}"></span>
			- <span th:text="${pays.nom}"></span>
			
			 - <span th:each=" film : ${pays.films}" >	
				<span th:text="${film.titre}"></span> - 
			</span>
			
			<a th:href="@{/paysmodifier/{id}(id=${pays.id})}">Editer</a> |
			<a th:href="@{/payssupprimer/{id}(id=${pays.id})}">Supprimer</a>
			</li>

	</ul>
	<a th:href="@{/}">Retour à l'index</a>
</body>
</html>