<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminimport :: headImport">
<meta charset="UTF-8" />
<title id="titrePage">Great Movies - By AC - Admin - Liste des
	pays</title>
</head>
<body>
	<div th:replace="adminnavigateur :: header">&nbsp;</div>
	<div class="left-content">
		<div class="inner-content">
			<div class="outter-wp">
				<a class="btn btn-primary btn-lg" th:href="@{/payscreer}">Créer
					un pays</a>

				<div th:if="${#lists.isEmpty(payss)}">Il n'existe pas de pays
					dans la base.</div>

				<div th:replace="admintablepays :: tablepays">&nbsp;</div>
			</div>
		</div>
	</div>
</body>
</html>