<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminimport :: headImport">
<meta charset="UTF-8" />
<title id="titrePage">Great Movies - By AC - Admin - Liste des
	réalisateurs</title>
</head>
<body>
	<div th:replace="adminnavigateur :: header">&nbsp;</div>
	<div class="left-content">
		<div class="inner-content">
			<div class="outter-wp">
				<a class="btn btn-primary btn-lg" th:href="@{/realisateurcreer}">Créer
					un réalisateur</a>

				<div th:if="${#lists.isEmpty(realisateurs)}">Il n'existe pas
					de realisateur dans la base.</div>

				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th>Id Réalisateur</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Films</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="realisateur : ${realisateurs}">
							<td th:text="${realisateur.id}" />
							<td th:text="${realisateur.nom}" />
							<td th:text="${realisateur.prenom}" />
							<td><span th:each=" film : ${realisateur.films}"> <span
									th:text="${film.titre}"></span> <br /></span></td>
							<td><a class="btn-sm btn-primary"
								th:href="@{/realisateurmodifier/{id}(id=${realisateur.id})}">Editer</a>
								<br /> <a class="btn-sm btn-info"
								th:href="@{/realisateursupprimer/{id}(id=${realisateur.id})}">Supprimer</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>