<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head">
<title>Recherche par titre - By AC</title>
<meta charset="UTF-8" />
</head>

<body>

	<nav th:replace="nav :: nav">&nbsp;</nav>

	<div th:replace="sidebar :: sidebar">&nbsp;</div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div class="main-grids">
			<h1>Recherche par titre</h1>
			<br/>
			
			<form action="#" th:action="@{/partitre}" th:object="${films}"
				method="post">
						<select name="select" class="form-control">
								<option th:each=" film : ${films}"
									th:text="${film.titre}"
									th:value="${film.id}"></option>
						</select> <br/>

						<button class="btn btn-primary" type="submit">Rechercher</button>

			</form>
		</div>
	</div>

</body>
</html>