<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head">
<title>Recherche par réalisateur - By AC</title>
<meta charset="UTF-8" />
</head>

<body>

	<nav th:replace="nav :: nav">&nbsp;</nav>

	<div th:replace="sidebar :: sidebar">&nbsp;</div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div class="main-grids">
			<h1>Recherche par réalisateur</h1>

			<form action="#" th:action="@{/parrealisateur}" th:object="${realisateurs}"
				method="post">
						<select name="select">
								<option th:each=" realisateur : ${realisateurs}"
									th:text="${realisateur.prenom} + ' ' + ${realisateur.nom}"
									th:value="${realisateur.id}"></option>
						</select> <br/>

						<button type="submit">Rechercher</button>

			</form>
		</div>
	</div>

</body>
</html>