<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminimport :: headImport">
<meta charset="UTF-8"/>
<title id="titrePage">Great Movies - By AC - Admin - Liste des utilisateurs</title>
</head>
<body>
<div th:replace="adminnavigateur :: header">&nbsp;</div>
	<div class="left-content">
		<div class="inner-content">
			<div class="outter-wp">

	<!-- <a class="btn btn-primary btn-lg" th:href="@{/utilisateurcreer}">Créer un utilisateur</a> -->
	
	<div th:if="${#lists.isEmpty(utilisateurs)}">
		Il n'existe pas d'utilisateur dans la base.
	</div>
	
	<table class="table table-bordered text-center">
		<thead>
			<tr>
				<th>Id Utilisateur</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Login</th>
				<th>Email</th>
				<th>Mot de passe</th>
				<th>Rôle</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="utilisateur : ${utilisateurs}">
				<td th:text="${utilisateur.id}" />
				<td th:text="${utilisateur.nom}" />
				<td th:text="${utilisateur.prenom}" />
				<td th:text="${utilisateur.login}" />
				<td th:text="${utilisateur.mail}" />
				<td th:text="${utilisateur.mdp}" />
				<td><span th:if="${utilisateur.role} == 1">Admin</span> </td>
				<td>
					<a class="btn-sm btn-primary" th:href="@{/utilisateurmodifier/{id}(id=${utilisateur.id})}">Editer</a> <br/>
					<a th:if="${utilisateur.role} == 0" class="btn-sm btn-primary" th:href="@{/utilisateurattribueradmin/{id}(id=${utilisateur.id})}">Attribuer rôle Admin</a> <br/>
					<a th:if="${utilisateur.role} == 1" class="btn-sm btn-primary" th:href="@{/utilisateurretireradmin/{id}(id=${utilisateur.id})}">Retirer rôle Admin</a> <br/>
					<a class="btn-sm btn-info" th:href="@{/utilisateursupprimer/{id}(id=${utilisateur.id})}">Supprimer</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div></div></div>
</body>
</html>