<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <head th:replace="adminimport :: headImport">
<meta charset="UTF-8"/>
<title id="titrePage">Great Movies - By AC - Admin - Modifier un utilisateur</title>
</head>-->
<head th:include="fragments/head :: head">
	<meta charset="UTF-8"/>
	<title>Se connecter - By AC</title>
</head>
<body>
	<!-- <h1>Modifier un utilisateur</h1>
	<form action="#" th:action="@{/utilisateurcreer}" th:object="${utilisateur}" method="post">
		<input type="hidden" th:field="*{id}" />
		<table class="table">
			<tr>
				<td>Nom :</td>
				<td><input type="text" th:field="*{nom}" /></td>
			</tr>
			<tr>
				<td>Prénom :</td>
				<td><input type="text" th:field="*{prenom}" /></td>
			</tr>
			<tr>
				<td>Login :</td>
				<td><input type="text" th:field="*{login}" /></td>
				<td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login
					Error</td>
			</tr>
			<tr>
				<td>Mail :</td>
				<td><input type="text" th:field="*{mail}" /></td>
				<td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Mail
					Error</td>
			</tr>
			<tr>
				<td>Mot de passe :</td>
				<td><input type="text" th:field="*{mdp}" /></td>
				<td th:if="${#fields.hasErrors('mdp')}" th:errors="*{mdp}">MDP
					Error</td>
			</tr>
			<tr>
				<td>Role :</td>
				<td><input type="text" th:field="*{role}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Valider l'utilisateur</button></td>
			</tr>
		</table>
	</form>-->
	
	<nav th:replace="nav :: nav">&nbsp;</nav>

	<div th:replace="sidebar :: sidebar">&nbsp;</div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div class="main-grids">
	<h1>Modifier mes coordonnées</h1>
	
	<div>
	<form action="#" th:action="@{/utilisateurmodifier}" th:object="${utilisateur}" method="post">
		
		<div class="form-group">
			<label>Nom :</label>
			<input type="text" th:field="*{nom}" class="form-control" />
		</div>
		<div class="form-group">
			<label>Prénom :</label>
			<input type="text" th:field="*{prenom}" class="form-control" />
		</div>
		<div class="form-group">
			<label>Login :</label>
			<input type="text" th:field="*{login}" class="form-control" />
		</div>
		<div class="form-group">
			<label>Mail :</label>
			<input type="text" th:field="*{mail}" class="form-control" />
		</div>
		<div class="form-group">
			<label>Mot de passe :</label>
			<input type="password" th:field="*{mdp}" class="form-control" />
		</div>
		<button class="btn btn-primary" type="submit">Valider</button>
	</form>
	</div>

	</div></div>
</body>
</html>